{% extends "base.html" %}
{% block title %}ChefEasy{% endblock %}
{% block css%}
<link rel="stylesheet" href="../static/css/normalize.css" />
<link rel="stylesheet" href="../static/css/all.min.css" />
<link rel="stylesheet" href="../static/css/home.css" />
{% endblock %}
{% block content %}
<!-- Feature Recipe -->
  <section class="container landing-feature">
    <div class="feature">
      <div class="Badge">
        <div class="text">
          <h1>Spicy delicious chicken wings</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex accusamus itaque quam possimus illum facere id repellendus nihil alias aut eaque, neque facilis dolore consequatur, magnam quas exercitationem sed necessitatibus.
          </p>
          <div class="info">
            <div class="time">
              <i class="fa-solid fa-stopwatch"></i>
              <span>30 Minutes</span>
            </div>
            <div class="type">
              <i class="fa-solid fa-utensils"></i>
              <span>Chicken</span>
            </div>
          </div>
          <button type="button" class="view">
            <span>View Recipes</span>
            <i class="fa-solid fa-play"></i>
          </b>
        </div>
        <img src="../static/images/chiken_wing.jfif" alt="chiken_wing" >
      </div>
    </div>
  </section>

  <section class="categories container">
    <h2>Categories</h2>
    <ul class="category">
      <li class="breakfast">
        <img src="../static/images/breakfast.png" alt="breakfast image">
        <span>Breakfast</span>
      </li>
      <li class="vegan">
        <img src="../static/images/vegan.png" alt="vegetarian image">
        <span>Vegan</span>
      </li>
      <li class="meat">
        <img src="../static/images/meat.png" alt="meat">
        <span>Meat</span>
      </li>
      <li class="dessert">
        <img src="../static/images/desart.png" alt="dessert">
        <span>Dessert</span>
      </li>
      <li class="lunch">
        <img src="../static/images/lunch.png" alt="lunch">
        <span>Lunch</span>
      </li>
    </div>
  </section>

  <section class="container recipes">
    <div class="header">
      <h2>Simple and tasty recipes</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quibusdam ad harum veniam accusamus optio ipsa illo magnam deleniti provident, ab at totam consectetur illum rerum reprehenderit non doloribus mollitia.
      </p>
    </div>

    <div class="all-recipes">
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
      <div class="meal">
        <img src="../static/images/meal.png" alt="">
        <div class="favorite">
          <div class="check">
            <i class="fa-regular fa-heart non-fav"></i>
            <i class="fa-solid fa-heart fav"></i>
          </div>
        </div>
        <p>Big and Juicy Wagyu Beef Cheeseburger</p>
        <div class="info">
          <div class="time">
            <i class="fa-solid fa-stopwatch"></i>
            <span>30 Minutes</span>
          </div>
          <div class="type">
            <i class="fa-solid fa-utensils"></i>
            <span>Chicken</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container subscribe">
    <img src="../static/images/box1.png" alt="" />
    <div class="box">
      <h2>Deliciousness to your inbox</h2>
      <div class="button">
        <input type="email" placeholder="Your email address" />
        <input type="button" value="Subscribe" />
      </div>
    </div>
    <img src="../static/images/box3.png" alt="" />
    <img src="../static/images/box2.png" alt="" />
  </section>
{% endblock %}
