{% extends "base.html" %} {% block title %}Log in{% endblock %} {% block
content%}
<div class="contianer">
  <div class="main">
    <form>
      <div class="first">
        <label>User Login</label><br />
        <input type="text" , placeholder="User Name" /><br />
        <input type="password" , placeholder="Password" />
      </div>
      <input type="Submit" , class="sub" />
      <hr />
    </form>
  </div>
  <p>
    Don't Have An Account <u><span>Sign Up</span></u>
  </p>
</div>
{% endblock %}
