{% extends "base.html" %}
{% block title %}Recipe{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../static/css/recipe.css" />
{% endblock %}
{% block content %}
<div class="recipe-page">
        <div class="recipe-details">
          <section class="recipe-details-inner">
            <div class="subtree">
              <div class="Headline">
                <h1 class="Recipe-name">{{ recipe_info.get('634927').get('title') }}</h1>
                <div class="recipe-details-child">
                  <div class="prep-time-dev">
                    <div class="error-logger">
                      <img class="timer" src="../static/images/clock-line-icon.svg" />
                    </div>
                    <div class="event-receiver">
                      <div class="event-transformer">
                        <div class="prep-time">PREP TIME</div>
                        <div class="minutes"> Minutes</div>
                      </div>
                    </div>
                  </div>
                    <img class="event-validator-icon" src="../static/images/data-unloader.svg" />
                  <div class="event-combiner">
                    <div class="event-splitter">
                      <div class="input-processor-chain">
                        <img class="timer" src="../static/images/clock-line-icon.svg" />
                      </div>
                      <div class="data-routing">
                        <div class="cook-time">COOK TIME</div>
                        <div class="minutes"> Minutes</div>
                      </div>
                    </div>
                  </div>
                  <div class="main-type">
                    <img class="data-mirror-icon" src="../static/images/data-unloader.svg" />
                    <div class="data-cache">
                      <div class="data-archive">
                        <img class="forkknife-icon" loading="lazy" src="../static/images/forkknife.svg" />
                        <div class="main-ing">Main</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="image-card">
          <img class="recipe-image" loading="lazy" src="../static/images/Italian-wedding-soup-with-stracciatella-feature-plated-bread-and-wine.jpg" />
          <div class="nutrition-card">
          <div class="nutrition-card-child"></div>
          <div class="data-merger">
            <div class="nutrition-information">Nutrition Information</div>
            <div class="data-sink">
              <div class="stack-manager">
              <div class="calories">Calories</div>
              <div class="kcal"> kcal</div>
            </div>
            <img class="stack-manager-icon" alt="" src="../static/images/stack-manager.svg" />
            <div class="stack-manager">
              <div class="calories">Calories</div>
              <div class="kcal"> kcal</div>
            </div>
            <img class="stack-manager-icon" alt="" src="../static/images/stack-manager.svg" />
            <div class="stack-manager">
              <div class="calories">Calories</div>
              <div class="kcal"> kcal</div>
            </div>
            <img class="stack-manager-icon" alt="" src="../static/images/stack-manager.svg" />
            <div class="stack-manager">
              <div class="calories">Calories</div>
              <div class="kcal"> kcal</div>
            </div>
            <img class="stack-manager-icon" alt="" src="../static/images/stack-manager.svg" />
            <div class="stack-manager">
              <div class="calories">Calories</div>
              <div class="kcal"> kcal</div>
            </div>
            <img class="stack-manager-icon" alt="" src="../static/images/stack-manager.svg" />
            <div class="info">
              recipe data card long Information
            </div>
          </div>
        </div>
        </div>
      </div>
      <section class="ingerdians-section">
        <div class="ingerdians-section-dev">
          <div class="under-image-p">Low Carb • Sugar Conscious • Keto Friendly • Pescatarian • Gluten Free • Wheat Free • Peanut Free • Tree Nut Free • Soy Free • Fish Free • Shellfish Free • Pork Free • Red Meat Free • Crustacean Free • Celery Free • Mustard Free • Sesame Free • Lupine Free • Mollusk Free • Alcohol Free • No oil added • Kosher • Immuno Supportive</div>
        </div>
      </section>
    </div>
    <section class="how-to-do">
      <div class="content-sie-bar">
        <h1 class="Ingredients-h1">Ingredients</h1>
        <div class="Ingredients-list">
          <h3>For main dish</h3>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">3 1/2 c Chicken broth
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">1 lb Fresh spinach
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">1 Egg
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">1 c Grated parmesan cheese
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Salt and pepper
            </label>
          </div>
          <hr>
        </div>
        <div class="Ingredients-list">
          <h3>For Sauce</h3>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Mixed Tropical Fruit Salad with Superfood Boosts
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Mixed Tropical Fruit Salad with Superfood Boosts
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Mixed Tropical Fruit Salad with Superfood Boosts
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Mixed Tropical Fruit Salad with Superfood Boosts
            </label>
          </div>
          <hr>
          <div class="list-item">
            <input type="checkbox" class="checkbox" id="task">
            <label for="task" class="task">Mixed Tropical Fruit Salad with Superfood Boosts
            </label>
          </div>
          <hr>
        </div>
        <section class="Directions-sec">
          <div class="Ingredients-list">
            <h1 class="Ingredients-h1">Directions</h1>
            <div class="list-item">
              <input type="checkbox" class="checkbox" id="task">
              <label for="task" class="task">Bring 1 cup of the broth to a boil. Add spinach and cook until softened but still bright green.
              </label>
            </div>
            <img class="recipe-image" loading="lazy" src="../static/images/hq720.jpg" />
            <hr>
            <div class="list-item">
              <input type="checkbox" class="checkbox" id="task">
              <label for="task" class="task">Add remaining broth to pot. Bring to a boil. Meanwhile, beat egg lightly with a fork. Beat in 1/4 cup of cheese.
              </label>
            </div>
            <hr>
            <div class="list-item">
              <input type="checkbox" class="checkbox" id="task">
              <label for="task" class="task">When broth boils pour in egg mixture, stirring constantly for a few seconds until it cooks into "rags."
              </label>
            </div>
            <hr>
            <div class="list-item">
              <input type="checkbox" class="checkbox" id="task">
              <label for="task" class="task">Add reserved spinach, salt and pepper. Serve immediately, passing remaining cheese.
              </label>
            </div>
            <hr>
            <div class="list-item">
              <input type="checkbox" class="checkbox" id="task">
              <label for="task" class="task">NOTES: Someone asked for this recipe a while back. I believe this soup, known as "Stracciatella" is synonymous with Italian Wedding Soup, however, I seem to remember from I-don't-know-where that Italian Wedding Soup is the same as this but with the addition of tiny meatballs.
              </label>
            </div>
            <hr>
          </div>
      </section>
      </div>
      <div class="side-bar-div">
        <aside class="side-bar">
          <ul class="side-bar-list">
            <h1 class="you-may-like">You may like these recipe too</h1>
            <li class="recipe-first-list">
              <div class="first-recipe">
                <img class="first-recipe-pic" loading="lazy" src="../static/images/25giardineria-articleLarge-v2.jpg"/>
              </div>
              <div class="first-recipe-info">
                <div class="mixed-tropical-fruit">
                  Giardiniera #5 - Italian
                </div>
                <div class="minutes2">30 Minutes</div>
                <div class="healthy">Healthy</div>
              </div>
            </li>
            <hr>
            <li class="recipe-first-list">
              <div class="first-recipe">
                <img class="first-recipe-pic" loading="lazy" src="../static/images/Crock-Pot-Italian-Beef-Sandwiches-social-07.jpg"/>
              </div>
              <div class="first-recipe-info">
                <div class="mixed-tropical-fruit">
                  Crockpot Italian Beef #1
                </div>
                <div class="minutes2">30 Minutes</div>
                <div class="healthy">Healthy</div>
              </div>
            </li>
            <hr>
            <li class="recipe-first-list">
              <div class="first-recipe">
                <img class="first-recipe-pic" loading="lazy" src="../static/images/plated4-1.jpg"/>
              </div>
              <div class="first-recipe-info">
                <div class="mixed-tropical-fruit">
                  Fresh Mozzarella, Italian Sausage and Roasted Pepper Calzon
                </div>
                <div class="minutes2">30 Minutes</div>
                <div class="healthy">Healthy</div>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </section>
  </section>
  <section class="container subscribe">
    <img src="../static/images/box1.png" alt="" />
    <div class="box">
      <h2>Deliciousness to your inbox</h2>
      <div class="button">
        <input type="email" placeholder="Your email address" />
        <input type="button" value="Subscribe" />
      </div>
    </div>
    <img src="../static/images/box3.png" alt="" />
    <img src="../static/images/box2.png" alt="" />
  </section>
{% endblock %}