body {
    width: 1280px;
    height: 733px;
    top: 194px;
    left: 80px;
}

h1 {
    font-weight: bold;
    display: flex;
    position: relative;
    left: 70%;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.one, .three, .four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    position: relative;
    left: 48%;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}


.one {
    bottom: 467px;
}

.three {
    bottom: 537px;
}

.four {
    bottom: 603px;
}

.two, .five {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.two {
    right: 75px;
    bottom: 569px
}

.five {
    right: 90px;
    bottom: 639px
}

input {
    width: 410px;
    height: 70px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: -240px;
    border-width: 1%;
    border-radius: 10px;
    border: 0.03px solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.sub {
    color: antiquewhite;
    background-color: black;
    border: 5px solid;
    font-size: 15px;
    width: 13%;
    height: 60px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    left: 75%;
    bottom: 550px;
    font-family: 'Inter', sans-serif;
}

.four input {
    width: 870px;
    height: 192px;
}

.two input {
    margin-right: -292px;
}
.five input {
    margin-right: -305px;
}

.side {
    width: 600px;
    height: 500px;
    position: relative;
    top: 40px;
}
